@charset "UTF-8";
:root {
  --primary-title-color: #212121;
  --secondary-title-color: #757575;
  --accent-color: #2196f3;
  --primary-icon-color: #afb1b8;
  --primary-modal-color: rgba(33, 33, 33, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header-container, .header-navigation, .header-contacts__right, .benefits-window, .client-list__link, .social-list__link, .backdrop, .check-span {
  display: flex;
  align-items: center;
}

.header-list__link, .header-contacts__data, .client-list__link, .client-list__logo, .footer-contacts__link, .portfolio-button, .portfolio-top-text, .portfolio-link, .social-list__link, .modal-close-icon, .modal-input, .input-icon, .modal-text-input, .check-text, .check-span, .button {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-title-color);
}

.link {
  text-decoration: none;
}

.list {
  margin: 0;
  padding-left: 0;
  /*при 480 лучше без єтого*/
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-bottom {
  border-bottom: 1px double #ececec;
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-list__item {
  display: inline-flex;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-list__link {
  display: block;
  align-items: center;
  position: relative;
  transition-property: color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}

.header-list__link:active, .header-list__link:hover, .header-list__link:focus {
  color: var(--accent-color);
}

.header-contacts__right {
  margin-left: auto;
}

.header-contacts__data {
  display: block;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  transition-property: color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  margin-left: 10px;
}

.header-contacts__data:hover, .header-contacts__data:focus {
  color: var(--accent-color);
}

.header-contacts__icon {
  margin-right: 10px;
  fill: var(--secondary-title-color);
}

.header-contacts__data:hover .header-contacts__icon,
.header-contacts__data:focus .header-contacts__icon {
  fill: var(--accent-color);
}

.hero {
  max-width: 480px;
  height: 400px;
  margin: auto;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
  }
}

.hero-container {
  padding: 118px 204px;
}

@media screen and (min-width: 1200px) {
  .hero-container {
    padding: 200px 0;
  }
}

.hero__title {
  width: 360px;
  margin: 0 auto 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61538;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36364;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  padding: 10px 32px;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
  }
}

.benefits-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .benefits-list {
    flex-flow: column;
  }
}

@media screen and (max-width: 1199px) {
  .benefits-list {
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .benefits-list__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__item {
    flex-basis: calc((100%-30px * 3) / 4);
  }
  .benefits-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits-list__window {
  border-radius: 4px;
}

.benefits-window {
  height: 120px;
  justify-content: center;
  background-color: #f5f4fa;
}

.benefits-window__icon {
  width: 70px;
  height: 70px;
}

.benefits__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

@media screen and (max-width: 1199px) {
  .benefits__title {
    text-align: center;
  }
}

.benefit__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71429;
  letter-spacing: 0.03em;
}

.about {
  padding-top: 0px;
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
    height: 1px;
  }
}

.about-list {
  display: flex;
  flex-wrap: wrap;
}

.about-list__item {
  flex-basis: calc((100% - (30px * 2)) / 3);
  position: relative;
}

.about-list__item:not(:last-child) {
  margin-right: 30px;
}

.about-list__item img {
  width: 1px;
}

.about-top {
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about-top__text {
  margin: 27px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  padding: 0px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-list__item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) {
  .team-list__item {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 479px) {
  .team-list__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

.team-list__img {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .team-list__img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__img {
    width: 270px;
  }
}

.team-description {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team-description {
    padding: 30px 32px;
  }
}

.team-description__name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-title-color);
}

.team-description__position {
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  .client-list {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .client-list {
    display: flex;
    justify-content: center;
  }
}

.client-list__item {
  margin: 15px;
}

/*@media screen and (min-width: 1200px) {
  .client-list__item + .client-list__item {
  margin-left: 30px;
  }
}*/
.client-list__link {
  color: var(--primary-icon-color);
  width: 210px;
  height: 92px;
  justify-content: center;
  border: #afb1b8 1px solid;
  border-radius: 5px;
  transition-property: border;
}

.client-list__link:hover, .client-list__link:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 768px) {
  .client-list__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client-list__link {
    width: 168px;
  }
}

.client-list__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
  transition-property: fill;
}

.client-list__link:hover .client-list__logo,
.client-list__link:focus .client-list__logo {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-flex {
  display: flex;
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer-flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 1199px) {
  .footer-data {
    text-align: center;
  }
}

.footer-flex-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-flex-row {
    justify-content: space-around;
    flex-direction: row;
    align-items: baseline;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

@media screen and (min-width: 1199px) {
  .footer-contacts {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-bottom: 0px;
  }
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 5px;
}

.footer-contacts__link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  transition-property: color;
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
}

.footer-contacts__address {
  color: #ffffff;
}

.footer-contacts__data {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer-join {
    margin-left: 70px;
  }
}

.footer__title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-sign {
    margin-left: auto;
    margin-right: 0;
  }
}

@media screen and (max-width: 1199px) {
  .footer-sign {
    margin: auto;
    margin-top: 60px;
  }
}

.footer-form-container {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    justify-content: flex-end;
    height: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-form__input {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    display: flex;
  }
}

.footer-form__input input {
  padding: 15px 15px;
  height: 50px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--secondary-title-color);
  background: transparent;
  /*прозрачный*/
  outline: none;
  color: var(--secondary-title-color);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .footer-form__input input {
    width: 360px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-form__input input {
    width: 450px;
  }
}

.footer-form__button {
  display: flex;
  padding: 10px 28px;
  align-items: center;
  margin: 0px auto;
}

@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin-left: 12px;
  }
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 10px;
}

.portfolio-list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button {
  display: flex;
  justify-content: center;
  padding: 6px 22px;
  border: transparent;
  border-radius: 5px;
  transition-property: color, background-color, box-shadow, border-radius;
  font-family: inherit;
  color: var(--primary-title-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
}

.portfolio-button:hover, .portfolio-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-current {
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}

.portfolio-list-button-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.filtr {
  color: var(--secondary-title-color);
  font-weight: normal;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}

.portfolio-list-flex {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-item {
  margin: 15px;
  flex-basis: calc(100% / 3 - 32px);
  border: 1px solid #eeeeee;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate(0, 100%);
  transform-origin: bottom center;
  transition-property: transform;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background-color: var(--accent-color);
  opacity: 0.9;
}

.portfolio-item:hover .portfolio-top-text {
  transform: translate(0);
}

.portfolio-link-div {
  position: relative;
  overflow: hidden;
}

.portfolio-link {
  display: inline-block;
  transition-property: box-shadow;
}

.portfolio-link:hover, .portfolio-link:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card {
  padding: 20px 24px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19231;
    letter-spacing: 0.03em;
    padding-bottom: 25px;
  }
}

.logo_black {
  color: #000;
}

.logo_white {
  color: #ffffff;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-title-color);
}

@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.17857;
    letter-spacing: 0.03em;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list_margin-top {
  margin-top: 20px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  color: var(--primary-icon-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  transition-property: background-color;
}

.social-list__link:hover, .social-list__link:focus {
  color: #fff;
  background-color: var(--accent-color);
}

.social-list__link_grey {
  background-color: #44454e;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.social-list__icon_white {
  fill: #fff;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  justify-content: center;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  transform: scale(1) rotate(0);
  transition: transform 250ms ease;
}

.close-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-close-icon {
  width: 18px;
  height: 18px;
  fill: #000;
  transition-property: fill;
}

.close-btn:hover .modal-close-icon,
.close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.modal-field {
  margin-bottom: 10px;
}

.input-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: var(--secondary-title-color);
}

.input-wrapper {
  display: block;
  position: relative;
}

.modal-input {
  width: 100%;
  padding-left: 42px;
  padding-right: 20px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--primary-modal-color);
  background: transparent;
  /*прозрачный*/
  outline: none;
  transition-property: border-color;
}

.modal-input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--primary-title-color);
  transition-property: fill;
}

.modal-text-input {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  resize: none;
  /*размеры поля не изменяются*/
  border: 1px solid var(--primary-modal-color);
  background: transparent;
  padding: 12px 16px;
  outline: none;
  color: var(--primary-modal-color);
  font-size: 12px;
  font-weight: normal;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  transition-property: border-color;
}

.modal-text-input:focus {
  border-color: var(--accent-color);
}

.link-underline {
  color: var(--accent-color);
  text-decoration: underline;
}

.link-underline:hover, .link-underline:focus {
  text-decoration: none;
}

.check-text {
  display: flex;
  margin-bottom: 15px;
  position: relative;
  align-items: center;
  padding: 9px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  transition-property: color;
}

.check-span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-title-color);
  border-radius: 2px;
  margin-right: 8px;
  justify-content: center;
  transition-property: border;
}

.check-span:hover {
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.modal-checkbox:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.check-icon {
  fill: #fff;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 50px;
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: block;
  bottom: -33px;
}

.button {
  background-color: var(--accent-color);
  border: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition-property: box-shadow;
}

.button:focus, .button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*# sourceMappingURL=main.css.map */