.about {
  padding-top: 0px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
}

.about-list__item {
  flex-basis: calc((100% - (30px * 2)) / 3);
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.about-top {
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about-top__text {
  margin: 27px;
  @include font(14px, bold, 16px, 0.03em);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
