.header-bottom {
  border-bottom: 1px double #ececec;
}

.header-container {
  @extend %align-items;
}

.header-navigation {
  @extend %align-items;
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-list__item {
  display: inline-flex;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-list__link {
  display: block;
  align-items: center;
  position: relative;

  transition-property: color;
  @extend %transition-description;

  @include font(14px, 500, 16px, 0.02em);
  color: var(--primary-title-color);

  &:active,
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contacts__right {
  display: flex;
  margin-left: auto;

  @media screen and (min-width: 780px) and (max-width: 1199px) {
    flex-direction: column;
    justify-content: flex-start;
  }

  @media screen and (min-width: 1200px) {
    align-items: center;
  }
}

.header-contacts__data {
  transition-property: color;
  @extend %transition-description;

  @include font(12px, 500, 14px, 0.02em);
  color: var(--secondary-title-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    @include font(14px, 500, 16px, 0.02em);

    display: block;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-left: 10px;
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: var(--secondary-title-color);

  .header-contacts__data:hover &,
  .header-contacts__data:focus & {
    fill: var(--accent-color);
  }
}
