body {
    margin:0px;
    font-family: 'Roboto', sans-serif;
    color:var(--secondary-title-color);
}
.link {
    text-decoration: none;
}
.list {
    margin: 0;
   /* padding-left: 0; при 480 лучше без єтого*/
    list-style: none;
}
